*{
  padding: 0;
  margin: 0;
}
h1 {
  background: red;
  margin: 0;
  padding: 40px;
}

.top {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999;
  display: block;
}

.parent_element {
  display: flex;
  align-content: stretch;
  position: relative;
}

.left_side_content {
  flex: 1;
  font-size: 40px;
}

.right_side {
  flex: 1;
  display: block;
}

.right_side_map {
  position: sticky;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  top: 117px;
}
