h1 {
  background: red;
  margin: 0;
  padding: 40px;
}

.parent_element {
  display: flex;
  align-content: stretch;
}

.left_side_content {
  flex: 1;
  font-size: 40px;
}

.right_side {
  flex: 1;
}

.right_side_map {
  position: sticky;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 100;
  top: 0;
}
